@{
    ViewData["Title"] = "Home Page";
}

<div id="main" ,class="text-center"></div>
<script>
   
    createTheGame(); // Create the game here
    function win_or_no(player) {

        winconditions = [[1, 2, 3], [4, 5, 6], [7, 8, 9], [1, 4, 7], [2, 5, 8], [3, 6, 9], [9, 5, 1], [3, 5, 7]]
        for (const array of winconditions) {
            let WinNumber = 0;
            for (const element of array) {
                if (player.includes(element)) {
                    WinNumber += 1;
                }
            }
            if (WinNumber === 3) {
                return true;
            }
        }
    }
    function ClearTable() {

        const trElements = document.getElementsByTagName("tr");
        for (const elements of trElements) {
            elements.childNodes[0].textContent = "_";
        }
    }
    
    function createTheGame() {
         let gamer = 1;
        let trID = 1;
        let firstPlayer = [];
        let secondPlayer = [];
        for (index = 0; index < 3; index++) {
            const tdEl = document.createElement("td");
            tdEl.id = index;

            for (row = 0; row < 3; row++) {
                const trEl = document.createElement("tr");
                const buttonEL = document.createElement("button");
                trEl.id = trID;
                trID += 1;
                buttonEL.textContent = "_";
                buttonEL.className = 'btn';
                buttonEL.id = "gameButton";
                buttonEL.addEventListener("click", function () {

                    if (gamer % 2 === 1 && buttonEL.textContent === "_") {
                        buttonEL.textContent = "O";
                        gamer += 1;
                        firstPlayer.push(parseInt(trEl.id))
                    }

                    else if (gamer % 2 === 0 && buttonEL.textContent === "_") {
                        buttonEL.textContent = "X";
                        gamer += 1;
                        secondPlayer.push(parseInt(trEl.id))
                    }

                    if (win_or_no(firstPlayer)) {
                        alert("first player win")
                        $('button[id^="gameButton"]').prop('disabled', true)
                    }

                    else if (win_or_no(secondPlayer)) {
                        alert("second player win");
                        $('button[id^="gameButton"]').prop('disabled', true)

                    }
                    else if (firstPlayer.length + secondPlayer.length === 9) {
                        alert("it's a tie");
                        $('button[id^="gameButton"]').prop('disabled', true)
                    }
                });
                trEl.appendChild(buttonEL);
                tdEl.appendChild(trEl);
            }
            const DivEl = document.getElementById("main");
            DivEl.appendChild(tdEl);
        }

        const NewGameButtonEL = document.createElement("button");
        NewGameButtonEL.id = "NewGame";
        NewGameButtonEL.textContent = "Try Again";
        NewGameButtonEL.addEventListener("click", function () {
            NewGame();
        });
        const DivEl = document.getElementById("main");
        DivEl.appendChild(NewGameButtonEL);
    }
        
    function NewGame() {
        const DivEl = document.getElementById("main");
        while (DivEl.firstChild) {
            console.log('2');
            DivEl.removeChild(DivEl.firstChild);
        }
        createTheGame();
    }
</script>

